/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

#p1War, #p2War {
  display:flex;
  flex-direction: row;

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
