li{
    color: blue;
    text-decoration: underline;
    size: 15px;
    background-color: gray;
}
section{
    height: 300px;
    background-color: rgb(120, 59, 120);
    border: 5px gold;
}
h1 {
    color: gold;
    size: 30px;
    display: flex;
    text-align: center;
    font-family: 'Source Sanse 3', sans-serif;

}
footer{
    background-color: rgb(66, 17, 17);
    height: 300px;
    width: 70%;
}
h2{
    text-decoration: line-through;
}