/* Please Make only Rhino and Zebra Blue */
/* use id's, so if more is added, it's still ONLY zebra and rhino */
#rhino, #zebra{
    color: blue;
}
/* Please Make only Hufflepuff Gold */
#bestHouse {
    color: gold;
}

/* Please select Duck with the highest level of specificity possible */
html head + body h1#hi + section.top + section.middel + article.areDucksDinosaurs > h2.likesToQuack.fight1Or100{
color: purple !important;
}
/* Please select Rhino with the highest level of specificity possible */
.top .africa.fourLegs#zebra{
    color: purple;
}