/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}

header, footer{
  width: 100%;
  height: 100px;
  background-color: gray;
  border: 2px solid black;
}

.first section{
  height: 100px;
  float: left;
  width: 33.3333%;
  background-color: gray;
  border: 2px solid black;
}

.second section{
  height: 100px;
  float: left;
  width: 50%;
  background-color: gray;
  border: 2px solid black;
}
/******************************************
/* LAYOUT
/*******************************************/


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
