/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

.highlight {
  font-weight: bold;
  background-color: blue;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
